package ui

templ Index() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Templ test, the date is</title>
        </head>
        <body>
            @Hello("World")
        </body>
    </html>
}